.image-clip-container img, .image-clip-container svg {
  width: 100%;
  height: auto;
}

@media (max-width: 699px) {
   .image-clip-container .svg--lg {
     display: none;
   }
   .image-clip-container .svg--sm {
     display: block;
   }
  }

  @media (min-width: 700px) {
   .image-clip-container .svg--sm {
     display: none;
   }
     .image-clip-container .svg--lg {
     display: block;
   }
  }


  .image-clip-container svg.clip-svg {
    background-size: 2000px 1000px;
  }

  .image-clip-container svg.clip-svg { height: 1000px; width:100%; }

  .image-clip-container .svg-wrap2 svg {
   position: absolute;
  }