body {
    margin: 0;
    font: normal 75% museo-sans Arial, Helvetica, sans-serif;
    overflow: hidden;
}

canvas {
    display: block;
    vertical-align: bottom;
    position: relative;

}

@media (min-width: 1200px) {
    canvas {
        overflow: hidden;
        width: 120% !important;
        height: 120% !important;
        top: -10%;
        left: -10%;
    }
}

a {
    text-decoration: none;
}

#particles-js-f-blur-bright {
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#particles-js-f {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

#particles-js-m {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

#particles-js-b {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #021C00;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-effect {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    -webkit-filter: contrast(96%) brightness(111%);
    filter: contrast(96%) brightness(111%);
}

.static-effect {
    position: absolute;
    text-align: center;
    z-index: 4;
    overflow: hidden;

}

.static-neon {
    position: relative;
    color: transparent;
    background: #E0AE7B;
    background: -moz-linear-gradient(45deg, #E0AE7B, #D5873F);
    background: -webkit-linear-gradient(45deg, #E0AE7B, #D5873F);
    background: -o-linear-gradient(45deg, #E0AE7B, #D5873F);
    background: -ms-linear-gradient(45deg, #E0AE7B, #D5873F); /*For IE10*/
    background: linear-gradient(45deg, #E0AE7B, #D5873F);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#E0AE7B', endColorstr='#D5873F'); /*For IE7-8-9*/
    height: 1%; /*For IE7*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.static-neon::before {
    content: attr(data-text);
    color: white;
    -webkit-filter: blur(0.00em);
    filter: blur(0.00em);
    position: absolute;
    top: 0;
    pointer-events: none;
}

.static-neon::after {
    mix-blend-mode: difference;
}

.neon {
    position: relative;
    background: #021C00;
    color: transparent;
}

.neon::before {
    content: attr(data-text);
    color: white;
    -webkit-filter: blur(0.00em);
    filter: blur(0.00em);
    position: absolute;
    top: 0;
    pointer-events: none;
}

.neon::after {
    mix-blend-mode: difference;
}

.gradient,
.spotlight {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
}

.gradient {
    background: -webkit-linear-gradient(45deg, #E0AE7B, #D5873F);
    background: linear-gradient(45deg, #E0AE7B, #D5873F);
    mix-blend-mode: multiply;
}

.spotlight {
    -webkit-animation: light 15s infinite linear;
    animation: light 15s infinite linear;
    background: -webkit-radial-gradient(circle, #CA781F, rgba(0, 0, 0, 0) 25%) 0 0/25% 25%, -webkit-radial-gradient(circle, #CA781F, #021C00 25%) 50% 50%/12.5% 12.5%;
    background: radial-gradient(circle, #CA781F, rgba(0, 0, 0, 0) 25%) 0 0/25% 25%, radial-gradient(circle, #CA781F, #021C00 5%) 50% 50%/12.5% 12.5%;
    mix-blend-mode: color-dodge;

}

.neon, .static-neon {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.main-font {
    font: 500 42px 'museo-sans';
    letter-spacing: 11px;
}

.second-font {
    font: 100 37px 'museo-sans';
    letter-spacing: 9px;
}

.tertiary-font {
    font: 500 12px 'museo-sans';
    letter-spacing: 8px;
}

.neon:focus, .static-neon:focus {
    outline: none;
    border: 1px dotted white;
}

#central-container {
    display: table;
    margin: 0;
    position: initial;
    text-align: center;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wh-logo {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
}

.shimmer {
    font-weight: 900;
    font-size: 31px;
    margin: 0 auto;
    display: inline;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(#D5873F), to(#f19d45), color-stop(0.5, #E0AE7B));
    background: -moz-gradient(linear, left top, right top, from(#D5873F), to(#f19d45), color-stop(0.5, #E0AE7B));
    background: gradient(linear, left top, right top, from(#D5873F), to(#f19d45), color-stop(0.5, #E0AE7B));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 13s;
    -moz-animation-duration: 13s;
    animation-duration: 13s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #f19d45;

}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }
    50% {
        background-position: top right;
    }
    100% {
        background-position: top left;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }
    50% {
        background-position: top right;
    }
    100% {
        background-position: top left;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }
    50% {
        background-position: top right;
    }
    100% {
        background-position: top left;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }
    50% {
        background-position: top right;
    }
    100% {
        background-position: top left;
    }
}

#coming-soon {
    -webkit-animation-delay: 0.7s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.7s;
}

#logo-container {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
    -webkit-animation-delay: 0.15s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.15s;
}

#social-icons {
    display: inline-table;
    -webkit-animation-delay: 0.75s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.75s;
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;
    font-size: 27px;
}

@media (orientation: portrait) {
    footer {
        bottom: 55px;
    }
    #logo-container {
        top: 25%;
    }

}

@media (orientation: landscape) {
    footer {
        bottom: 20px;
    }
     #logo-container {
        top: 15%;
    }
}

footer a {
    text-align: center;
}

footer i {
    width: 30px;
    height: 30px;
    margin-right: 3px;
    margin-left: 3px;

}

.golden-grad-shad {
    color: transparent;
    box-shadow: 0 0 0 #f9a446;
    background: #E0AE7B;
    background: -moz-linear-gradient(45deg, #E0AE7B, #D5873F);
    background: -webkit-linear-gradient(45deg, #E0AE7B, #D5873F);
    background: -o-linear-gradient(45deg, #E0AE7B, #D5873F);
    background: -ms-linear-gradient(45deg, #E0AE7B, #D5873F); /*For IE10*/
    background: linear-gradient(45deg, #E0AE7B, #D5873F);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#E0AE7B', endColorstr='#D5873F'); /*For IE7-8-9*/
    height: 1%; /*For IE7*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    -moz-box-shadow: 0 0 0 #f9a446;
    -webkit-box-shadow: 0 0 0 #f9a446;
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.80));
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.golden-color .path1:before,
.golden-color .path2:before,
.golden-color .path3:before,
.golden-color .path4:before {
    color: #E0AE7B;
}

footer i:before {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
}

i.fa-instagram {
}

#static-bg {
    background: url('../Assets/img//bg_mobile.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 950px;
}



@media (min-width: 576px) {
    footer i {
        font-size: 30px !important;
        width: 32px;
        height: 32px !important;
    }

    #wh-logo {
        width: 31%;
    }

    .main-font {
        font-size: 42px;
    }

    .shimmer {
        font-size: 36px;
    }

    .second-font {
        font-size: 37px;
    }

    .tertiary-font {
        font-size: 12px;
    }
    @media (orientation: portrait) {
        #logo-container {
            top: 35%;
        }
    }
    @media (orientation: landscape) {
         #logo-container {
            top: 27%;
        }
    }

}

@media (min-width: 768px) {
    #static-bg {
        background: url('../Assets/img//bg.jpg') no-repeat center center / cover fixed;
    }

    footer {
        bottom: 50px;
    }

    footer i {
        font-size: 35px !important;
        width: 40px;
        height: 40px !important;;
    }

    #wh-logo {
        width: 11%;
        height: 34%;
    }

    .shimmer {
        font-size: 3em;
    }

    .main-font {
        font-size: 48px;
    }

    .second-font {
        font-size: 41px;
    }

    .tertiary-font {
        font-size: 13px;
    }
}

@media (min-width: 992px) {
    footer {
        bottom: 50px;
    }

    footer i {
        font-size: 40px !important;
        width: 45px;
        height: 45px !important;;
    }

    .main-font {
        font-size: 51px;
    }

    .shimmer {
        font-size: 4em;
    }

    .second-font {
        font-size: 44px;
    }

    .tertiary-font {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    footer {
        bottom: 72px;
    }

    footer i {
        font-size: 50px !important;
        width: 60px;
        height: 60px !important;
    }

    .main-font {
        font-size: 55px;
    }

    .shimmer {
        font-size: 4em;
    }

    .second-font {
        font-size: 47px;
    }

    .tertiary-font {
        font-size: 18px;
    }
}

input[type="text"] {
    font: normal 75% museo-sans Arial, Helvetica, sans-serif;
    padding: 3px 70px 3px 10px;
    background: transparent;
    color: #E0AE7B;
    border:  rgba(224,174,123,0.8)  solid 2px;
    width: 250px;
    font-size: 17px;
    height: 31px;
}

input {
    border-radius: 3px;
}

input:focus {
    outline: none !important;
    border: #D5873F solid 2px;
    box-shadow: 0 0 10px #D5873F;
}

input[type="submit"] {
    font: normal 75% museo-sans Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-left: -80px;
    width: 80px;
    border-radius: 0px;
    height: 38px;
    box-shadow: 0 0 0 #f9a446;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5873f+0,f19d45+51,e0ae7b+100 */
    background: rgb(213,135,63); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(213,135,63,0.8) 0%, rgba(241,157,69,0.7) 51%, rgba(224,174,123,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(213,135,63,0.8) 0%,rgba(241,157,69,0.7) 51%,rgba(224,174,123,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(213,135,63,0.8) 0%,rgba(241,157,69,1) 51%,rgba(224,174,123,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5873f', endColorstr='#e0ae7b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: rgba(4,36,1, 0.85);
    border: none;
    -webkit-appearance: none;
    font-weight: 600;
    cursor: pointer;
}

input[type="text"]:focus ~ input[type="submit"] {
    color: rgba(4,36,1, 1);
    background: rgb(213,135,63); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(213,135,63,1) 0%, rgba(241,157,69,1) 51%, rgba(224,174,123,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(213,135,63,1) 0%,rgba(241,157,69,1) 51%,rgba(224,174,123,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(213,135,63,1) 0%,rgba(241,157,69,1) 51%,rgba(224,174,123,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

::-webkit-input-placeholder { /* Chrome */
    color:  rgba(213,135,63,0.65);
}
:-ms-input-placeholder { /* IE 10+ */
    color:  rgba(213,135,63,0.65);
}
::-moz-placeholder { /* Firefox 19+ */
    color:  rgba(213,135,63,0.65);
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color:  rgba(213,135,63,0.65);
    opacity: 1;
}

#client-message {
    font-size: 20px;   
}

@media (max-width: 768px) {
    input[type="text"] {
        padding: 2px 80px 2px 8px;
        border:  rgba(224,174,123,0.8)  solid 1px;
        width: 180px;
        font-size: 15px;
        height: 31px;
    }

    input[type="submit"] {
        font-size: 15px;
        border-radius: 1px;
        width: 80px;
        height: 38px;
    }
    #client-message {
        font-size: 15px;
        padding: 0px 70px;
        line-height: 20px; 
    }
}

