img.svg-logo-replacement {
  max-width: 60%;
  width: 1002px;
  position: absolute;
  top: -15px;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
  animation-name: show;
  animation-delay: 5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  opacity: 0;
}

img.svg-logo-replacement.svg-logo-replacement--navbar {
    width: 241px;
    top: -6px;
}

.svg-logo-draw--navbar {

}

svg.svg-logo-draw {
  opacity: 1;
  height: 100%;
  max-width: 80%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation-name: hide;
  animation-delay: 5s;
  animation-duration: 3s;
}

svg.svg-logo-draw path {
  stroke-width: 1;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: draw;
  animation-timing-function: linear;
}
svg.svg-logo-draw path#back-pgon {
  stroke: #000;
  stroke-dasharray: 2810;
  stroke-dashoffset: 2810;
  animation-duration: 12s;
}
svg.svg-logo-draw path#mid-pgon {
  stroke: #000;
  stroke-dasharray: 2810;
  stroke-dashoffset: 2810;
  animation-duration: 10s;
  animation-delay: 2s;
}
svg.svg-logo-draw path#front-pgon {
  stroke: #000;
  stroke-dasharray: 2810;
  stroke-dashoffset: 2810;
  animation-duration: 8s;
  animation-delay: 3s;
}
svg.svg-logo-draw path#let-h, svg.svg-logo-draw path#let-o, svg.svg-logo-draw path#let-m, svg.svg-logo-draw path#let-e {
  stroke: #000;
  stroke-dasharray: 2810;
  stroke-dashoffset: 2810;
  animation-duration: 12s;
  animation-delay: 4s;
}
svg.svg-logo-draw path#let-m2, svg.svg-logo-draw path#let-a, svg.svg-logo-draw path#let-t, svg.svg-logo-draw path#let-c, svg.svg-logo-draw path#let-h2 {
  stroke: #000;
  stroke-dasharray: 2810;
  stroke-dashoffset: 2810;
  animation-duration: 13s;
  animation-delay: 5s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
@keyframes hide {
  to {
    opacity: 0;
  }
}
