section {
  padding: 25px 0 35px;
  background: #fff;
}
.parallax-container {
  height: 500px;
  width: 100%;
}
#hero {
  height: 950px;
  overflow: hidden;
  position: relative;
}
#hero .layer-4 {
  margin-top: 3em;
}
#content {
  background-color: #130d0a;
}
.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 950px;
  position: fixed;
  z-index: -1;
}
.hero-mobile {
  display: none;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (orientation: portrait) {
  .hero-mobile {
    height: 150vw;
  }
  .hero-mobile.hero-mobile-horiz {
    display: block;
  }
  .hero-mobile.hero-mobile-land {
    display: none;
  }
}
@media (orientation: landscape) {
  .hero-mobile {
    height: 56vw;
  }
  .hero-mobile.hero-mobile-horiz {
    display: none;
  }
  .hero-mobile.hero-mobile-land {
    display: block;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .hero-mobile.hero-mobile-horiz {
    display: none;
  }
  .hero-mobile.hero-mobile-land {
    display: none;
  }
}
@media (min-width: 1200px) and (orientation: portrait) {
  .hero-mobile.hero-mobile-horiz {
    display: none;
  }
  .hero-mobile.hero-mobile-land {
    display: none;
  }
}
.first-section {
  padding: 50px 0 20px 0;
}
.text-header {
  font-size: 50px;
  text-align: center;
}
h1 {
  line-height: 120%;
  margin-bottom: 30px;
}
#hero, #hero2, .layer {
  min-height: 800px;
}
@media only screen and (max-width: 1200px) {
  #hero {
    display: none;
  }
  #hero-mobile, #hero-mobile2 {
    display: block;
  }
}
.tutorial-link {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
}
.tutorial-link:hover {
  color: #ede0d5;
}
.full-width-image {
  width: 100%;
}